.hidden{
	display:none;
}
.hand{
	cursor:pointer;
}
.floatR{
	float:right;
}
/* 两级下拉菜单 */
.dropdown-submenu {  
    position: relative;  
}  
.dropdown-submenu > .dropdown-menu {  
    top: 0;  
    left: 100%;  
    margin-top: -6px;  
    margin-left: -1px;  
    -webkit-border-radius: 0 6px 6px 6px;  
    -moz-border-radius: 0 6px 6px;  
    border-radius: 0 6px 6px 6px;  
}  
.dropdown-submenu:hover > .dropdown-menu {  
    display: block;  
}  
.dropdown-submenu > a:after {  
    display: block;  
    content: " ";  
    float: right;  
    width: 0;  
    height: 0;  
    border-color: transparent;  
    border-style: solid;  
    border-width: 5px 0 5px 5px;  
    border-left-color: #ccc;  
    margin-top: 5px;  
    margin-right: -10px;  
}  
.dropdown-submenu:hover > a:after {  
    border-left-color: #fff;  
}  
.dropdown-submenu.pull-left {  
    float: none;  
}  
.dropdown-submenu.pull-left > .dropdown-menu {  
    left: -100%;  
    margin-left: 10px;  
    -webkit-border-radius: 6px 0 6px 6px;  
    -moz-border-radius: 6px 0 6px 6px;  
    border-radius: 6px 0 6px 6px;  
}
button > font {
	font-size:14px;
}
.selectInput{
	display:inline;
	margin-left:-10px;
	width: 410px;
}
.selectBtn{
	width:41px;
	height:41px;
	border:1px #CCCCCC solid;
	background-color:#F5F8F9;
}
.selectMeum{
	width: 381px;
	max-height:120px;
	overflow-y:auto;
}
/* 输入框右边按钮 */
.rightBtn{
	width:101px;
	background:#00B38A;
	color:#FFFFFF;
}
/* 倒数按钮 */
.reciprocalBtn{
	width:101px;
	background:#FFFFFF;
	color:#9A9A9A;
	border:1px #9A9A9A solid;
}