.list-head{
	width:100%;
	height:41px;
	border: 1px #000000 solid;
	text-align: center;
	line-height:41px;
}
.row-resize{
	cursor:w-resize;
	width:6px;
	height:41px;
	float:left;
	margin-left:-3px;
}
/*ÁÐÑùÊ½*/
.row-css{
	float:left;
}
.cow-css0{
	background: #FFFFFF;
}
.cow-css1{
	background: #e3eff7;
}
.cow-moved{
	background: #c0ddf3;
}
.cow-selected{
	background: #c0ddf3;
}
