@media screen and (min-width: 580px) and (max-width: 1080px){
	.user_resume_div{
		border:1px #d1d5da solid;
		width:80%;
		min-width:360px;
		height:120px;
		margin-left:8px;
		margin-bottom:25px;
	}
}