.Parting-line{
	border-bottom: 2px #CCCCCC solid;
}
.checkedBtn{
	background-color: #00B38A;
	color:#FFFFFF;
}
.checkBtn{
	background-color: #FFFFFF;
	color:#00B38A;
}
.urlImg{
	width:41px;
	height:41px;
}