.mainDiv{
	background: #FFFFFF;
	max-width: 800px;
	width:90%;
}
.login-top{
	width:100%;
	border-collapse:separate;
	border-spacing:0px 12.5px;
}
.tranClass{
	max-width:140px;
	width:50%;
}
.checkedBtn{
	background-color: #00B38A;
	color:#FFFFFF;
}
.checkBtn{
	background-color: #FFFFFF;
	color:#00B38A;
}
.P-line > td{
	border-bottom: 2px #00B38A solid;
}
.Parting-line{
	height: 2px;
	width: 800px;
	background-color: #00B38A;
}
.input-class-phone{
	max-width: 381px;
	height:41px;
	min-width:200px;
}
.vCode-input{
	max-width: 281px;
	height:41px;
	min-width:150px;
}
.vCode{
	width: 80px;
	height: 41px;
	border: 1px solid #ccc;
	display: inline-block;
}
.remeberImg{
	width:16px;
	height:16px;
}
.submitBtn{
	font-size:14px;
	max-width: 381px;
	min-width:200px;
	width:100%;
	height:41px;
	background-color: #00B38A;
	border-color: #00B38A;
}
.submitBtn:hover{
	background-color: #00B38A;
	border-color: #00B38A;
}
.submitBtn.active{
	background-color: #00B38A;
	border-color: #00B38A;
}
.submitBtn:active{
	background-color: #00B38A;
	border-color: #00B38A;
}
.submitBtn:focus{
	background-color: #00B38A;
	border-color: #00B38A;
}
